<div class="hero">

	<br />
	<div class="frosty col-xs-10 col-xs-offset-1 text-center">
		<br />
		<h1>“If you can't explain it simply, you don't understand it well enough.” </h1>
		<br />
		<h2>Albert Einstein</h2>
		<br />
		<%= link_to 'Learn >>', courses_path, class: 'btn btn-success' %>

		<br /><br />
	</div>
</div>

<br />
<br />

<div class="col-xs-10 col-xs-offset-1 features text-center">
	<div class="col-sm-4">
		<%= image_tag 'video.png' %>
		<p>
			<h3 class="row"> Step by step video instructions </h3>
			<br />
			<br />
		</div>

		<div class="col-sm-4">
			<%= image_tag 'monitor.png' %>
			<p>
				<h3 class="row"> Learn the latest technologies </h3>
				<br />
				<br />
			</div>

			<div class="col-sm-4">
				<%= image_tag 'tag.png' %>
				<p>
					<h3 class="row"> Code snippets, cheat sheets and notes </h3>
					<br />
					<br />
				</div>
			</div>
